.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.bg-my-doctor {
  background-color: #3fbbc0;
}
.text-white {
  color: #fff;
}
Link {
  color: #fff;
}
.button-regular {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #725ac1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725ac1;
}

.button-regular:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725ac1;
}

.button-regular:active {
  transform: scale(0.9);
}
